.review-card-slider {
    text-align: center;
  }
  
  .review-title {
    font-size: 24px;
    color: #00cccc; /* 청록색으로 설정 */
  }
  
  .review-heading {
    font-size: 20px;
    color: #000; /* 검은색으로 설정 */
  }
  
  .more-button {
    margin-top: 20px; /* 버튼과 후기 사이 간격 설정 */
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  